In [1]:
from orb_it.backend import PYOORB,FINDORB
from orb_it.raiden import Orbits, getOrbHorizons,loadOrb
from orb_it.tester import runTest
import numpy as np
import pandas as pd

# `orb_it` Demo

Here are the general steps of this tester,

1. Take in initial orbit at a specified t0 time.
2. Generate Ephemeris observations using an integrator from the initial orbit over the time scale term supplied.
3. Determine the orbit from the Ephemeris observations with the integrator to get the orbital state vectors at the final time of the time scale.
4. Propagate the initial orbit using the integrator to the final time.
5. Compare the orbit's state vectors from step 3 to the orbit vectors from step 4.
---
## Importing Orbit Data
First we need to import the initial orbit data (state vector and time). We can use either `loadOrb()` to load from a local csv or pandas DataFrame or `getOrbHorizons()` to query JPL Horizons for the data. Both functions give the same orbit object.

In [2]:
#Importing Locally
orbits = loadOrb('orbits2.csv')
# Ivezic is the first object in the table
ivezic = orbits[0]
# We can show it as a DataFrame with .df attribute
ivezic.df

,orbit_id,mjd_tdb,x,y,z,vx,vy,vz,H,G
0,202930 Ivezic (1998 SG172),59000.000801,0.568687,-2.49376,-0.182298,0.010407,0.003676,0.000483,16.65,0.15

## Running the Test

In [3]:
runTest(orbits[0],'500',[np.arange(0,30,1)],PYOORB())

,orbit_id,integrator,observatory_code,arc_length [days],num_obs,epoch [mjd],delta epoch [mjd],astrometric_error [mas],delta r [km],delta v [m/s],delta x [km],delta y [km],delta z [km],delta vx [m/s],delta vy [m/s],delta vz [m/s]
0,202930 Ivezic (1998 SG172),OpenOrb,500,29.0,30,59015.0,0.0,0,2.54846,0.001093,-1.272749,2.190659,0.275263,0.000581,-0.000921,-0.000093

In [4]:
runTest(orbits[0],'500',[np.arange(0,30,1)],FINDORB())

,orbit_id,integrator,observatory_code,arc_length [days],num_obs,epoch [mjd],delta epoch [mjd],astrometric_error [mas],delta r [km],delta v [m/s],delta x [km],delta y [km],delta z [km],delta vx [m/s],delta vy [m/s],delta vz [m/s]
0,202930 Ivezic (1998 SG172),FindOrb,500,29.0,30,59029.0008,9.997748e-07,0,0.418919,0.00002,-0.375304,-0.184875,-0.021482,0.000007,-0.000019,-0.000001

In [5]:
runTest(orbits[0],'I11',[np.arange(0,30,1)],PYOORB())

,orbit_id,integrator,observatory_code,arc_length [days],num_obs,epoch [mjd],delta epoch [mjd],astrometric_error [mas],delta r [km],delta v [m/s],delta x [km],delta y [km],delta z [km],delta vx [m/s],delta vy [m/s],delta vz [m/s]
0,202930 Ivezic (1998 SG172),OpenOrb,I11,29.0,30,59015.0,0.0,0,3.07407,0.001309,-1.535385,2.64246,0.331524,0.000696,-0.001103,-0.000112

NOTE: Will add more features to this demo when I get more time in the future!